#tool-operate {
    height: 100%;
}
#side-navbar {
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #f1f1f1;
    width: 230px;
    height: 100%;
    padding-top: 60px;
    text-align: center;
    color: #a9a9a9;
}
.span-btn {
    cursor: pointer;
}
.span-btn:hover {
    background-color: #ccc;
}
.input-group-text {
    text-align: center;
}
.no-rounded {
    border-radius: 0px;
}
.corpus-item {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}
.corpus-item:hover {
    background-color: #ccc;
    color: #fff;
}
.corpus-item.active {
    background-color: #aaa;
    color: #fff;
}
#operate-space {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 240px;
    width: calc(100% - 240px);
    height: 100%;
    padding-top: 60px;
    text-align: center;
    overflow: auto;
}
.table-tool-btn {
    background: #fff;
    border-radius: 5px;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    text-align:center;
}
.table-tool-btn:hover {
    background: #ddd;
}
.table-tool-btn.disabled {
    cursor: not-allowed;
    background: #ddd;
}
.dialog-list {
    border: 1px solid black;
    width: 150px;
    height:250px;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    margin:0 5px 0 5px;
    overflow: auto;
}
#arrow-container {
    width: 90px;
    height:250px;
    padding: 90px 0 0 0;
    vertical-align: top;
    display: inline-block;
    overflow: auto;
}
#arrow-wrap-r {
    width: 100%;
    height: 20px;
    margin: 0 0 30px 0;
    display: block;
    padding-left: 10px;
    text-align: left;
}
#arrow-wrap-l {
    width: 100%;
    height: 20px;
    margin: 30px 0 0 0;
    display: block;
    padding-right: 10px;
    text-align: right;
}
#arrow-head-r {
    width:0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #000;
    display: inline-block;
    margin: 0;
}
#arrow-body-r {
    width: 40px;
    background-color: #000;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0;
}
#arrow-tail-r {
    width: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #000 #000 #000 transparent;
    display: inline-block;
    margin: 0;
}
#arrow-head-l {
    width:0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #000 transparent transparent;
    display: inline-block;
    margin: 0;
}
#arrow-body-l {
    width: 40px;
    background-color: #000;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin: 0;
}
#arrow-tail-l {
    width: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #000 transparent #000 #000;
    display: inline-block;
    margin: 0;
}
.related-entry-item {
    white-space: nowrap;
    width: 100%;
    display: block;
    overflow: hidden;
    cursor: pointer;
    color: #000;
    background: #fff;
    padding: 0 5px 0 5px;
    text-overflow : ellipsis;
}
.related-entry-item:hover {
    cursor: pointer;
    background: #B3D7FD;
}